.course {
  
  margin: 0 auto;
  padding: 50px 20px;
}

.course-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.course-item {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.course-item h3 {
  font-size: 24px;
  color: #007bff;
  margin-bottom: 10px;
}

.course-item p {
  font-size: 16px;
  color: #333;
}