.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7; 
}


.form {
  width: 70%; 
  max-width: 600px; 
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px black;
}



.formItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.formItem label {
  font-weight: bold;
}

.formItem input , .formItem textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.formItem textarea {
  resize: vertical;
  min-height: 100px;
}

.submit {
  text-align: center;
  margin-top: 20px;
}

.submit button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit button:hover {
  background-color: #45a049;
}